.sliderWrapper {
    //width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    //current
    // overflow: hidden;
    // align-items: baseline;

    //testing
    // overflow-x: scroll;
    // scroll-snap-type: x mandatory;
}

.imageContainer {
    border-radius: 10px;
    width: 80%;
    height: 60%;
    object-fit: cover;
    animation: fadeIn 2s linear;
}

.arrow {
    cursor: pointer;
    font-size: 40px;
    align-self: center;
    margin: 2%;
}

.arrow:hover {
    //background-color: rgba(35, 90, 83, .3);
    //text-shadow: 2px 2px;
    transition: all 0.2s ease-in;
    text-shadow: rgba(35, 90, 83, 0.36) 0px 3px 6px, rgba(35, 90, 83, 0.36) 0px 6px 6px;
}

@keyframes fadeIn {
    0% {
        opacity: 33%;
    }
    20% {
        opacity: 66%;
    }
    40% {
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}
